.login{
background: linear-gradient(to right, #fbc49a, #ec7fa9, #af89d6, #96a1eb);




    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .card{
    display: flex;
    
    width: 580px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    backdrop-filter: blur(10px); 
    border: 1px solid white;
    border-radius: 1rem;
    overflow: hidden;
}
.login .card .left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.login h2{
    color: #FF4081;
}
.login .card p{
    font-size: .9rem;
}
.login .card span{
 color: #FF4081;

}


.login .card .right{
    flex: 1;
    background:   #fad7f6;
;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.login form input{
    padding:  1rem 0;
    width: 90%;
    background: transparent;
    border: transparent;
    outline: none;
    border-bottom: 1px solid white;
    margin: 0 auto;
    color: white;

}
.login form input::placeholder{
    color: #FF4081;
    font-size: 1rem;
    text-transform: capitalize;
}
.login form .btn{
  background-color: #FF4081;
    color: white;
    margin-top: 1.2rem ;
}
@media (max-width: 600px){
    .login .card{
        width: 90%;
        flex-direction: column;
        
    }
    .login .card .right{
    padding-bottom: 20px;
    }
}